.navigation
  .container.mb30
    a.link-back.mr30(href="")
      svg.link-back__icon
        use(href="./resources/images/sprite.svg#arrow")
      | Главная
    a.link-back.mb35(href="")
      svg.link-back__icon
        use(href="./resources/images/sprite.svg#arrow")
      | Блог
    h2.navigation__page Блог
