.navigation
  .container.container_mb30
    a.link-back.link-back_mr30(href="")
      svg.link-back__icon
        use(href="./resources/images/sprite.svg#arrow")
      | Главная
    a.link-back.link-back_mb35(href="")
      svg.link-back__icon
        use(href="./resources/images/sprite.svg#arrow")
      | Блог
    h2.navigation__page Блог
