@import '../../../main';

.cityes {
  color: $white;
  fill: $white; 
  background-color: $first;
  
  &_w250 {
    width: 250px;
  }
  
  &_height50 {
    height: 50px;
  }
}

.item {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 50px;
  
  background-color: $first;
  position: relative;

  &_flex-end {
    justify-content: flex-end;
  }

  &_offset {
    position: relative;
    left: 230px;
    top: -50px;
  }

  .item__city-name{

    &_uppercase {
      text-transform: uppercase;
    }
  }

  span {
    font-weight: 600;
  }

  .item__arrow {
    width: 10px;
    height: 10px;

    &_align-right {
      position: absolute;
      right: 20px;
    }
  }

  .item__icon-phone {
    width: 16px;
    height: 16px;
  }
}

.item:not(.active) {
  display: none;
}