.cityes#cityesHorizontal.cityes_p-0-20.cityes_w-300
  .item.active.item_flex-end
    svg.item__icon-phone
      use(xlink:href="./resources/images/sprite.svg#phone")
    p.item__city-name.item__city-name_m-10 Астана 
      span 696-226
    svg.item__arrow
      use(xlink:href="./resources/images/solid.svg#chevron-down")
  .item.item_flex-end
    p.item__city-name.item__city-name_m-10 Алмата 
      span 314-226
    svg.item__arrow
      use(xlink:href="./resources/images/solid.svg#chevron-left")
  .item.item_flex-end
    p.item__city-name.item__city-name_m-10 Караганда 
      span 321-226
    svg.item__arrow
      use(xlink:href="./resources/images/solid.svg#chevron-left")