.blog
  include ../../blocks/navigation/navigation

  section.container  

    .debugger
      div
        div
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div
          div

    .textBox-row
      h1.h1 Компания «siter.kz»
      p.text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
      p.text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
      p.text Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.
      h2.h2.mt30 Разработка сайтов
      p.text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
      p.text Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.
      h3.h3.mt30 Индивидуальные решения
      p.text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
      p.text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
      h4.h4.mt30 Заголовок h4
      p.text Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.
      p.text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
      h5.h5.mt30 Заголовок h5
      p.text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
      h6.h6.mt30 Заголовок h6
      p.text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.

    .listBox-row
      .listBox-col
        h5.h5.mt30 Маркированный список:
        ul.listItem.listItem_checkers
          svg.listItem__itemIcon
            use(href="./resources/images/sprite.svg#tick")
          li.listItem__item.mb30
            span.listItem__text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
          svg.listItem__itemIcon
            use(href="./resources/images/sprite.svg#tick")
          li.listItem__item.mb30
            span.listItem__text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
          svg.listItem__itemIcon
            use(href="./resources/images/sprite.svg#tick")
          li.listItem__item
            span.listItem__text Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.
      .listBox-col
        h5.h5.mt30 Нумерованный список:
        ul.listItem.listItem_numbers.listItem_blue-markers
          li.listItem__item.mb30
            span.listItem__text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
          li.listItem__item.mb30
            span.listItem__text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
          li.listItem__item
            span.listItem__text Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.

    .links-row
      .links-col
        a.linkBox(href="#")
          svg.linkBox__icon
              use(href="./resources/images/sprite.svg#link")
          span.linkBox__text ссылка
      .links-col
        a.linkBox(href="")
          svg.linkBox__icon
              use(href="./resources/images/sprite.svg#link")
          span.linkBox__text посещенная ссылка

    .gradient-row.gradient-row_sm.gradient-row_gradient1 Выделенный текст
    .gradient-row.gradient-row_sm.gradient-row_gradient2.gradient-row_dark Выделенный текст
    .gradient-row.gradient-row_lg.gradient-row_gradient1.gradient-row_fat.gradient-row_upper.gradient-row_mb30 Важный выделенный текст

    .btn-box-outer
      button.button.button_lg.mb10 Обычная кнопка
      button.button.button_lg Кнопка при наведении
      button.button.button_lg Кнопка при нажатии
    .btn-box-outer
      button.button.button_lg.mb10.button_white Обычная кнопка
      button.button.button_lg Кнопка при наведении
      button.button.button_lg Кнопка при нажатии
    .btn-box-outer
      button.button.button_sm Маленькая кнопка
      button.button.button_sm При наведении
      button.button.button_sm При нажатии
      .text.my30.semiBold при нажатии сдвиг на 1 px вниз
    .btn-box-outer
      button.button.button_lg.mb10.button_white.button_radius Обычная кнопка
      button.button.button_lg.button_radius Кнопка при наведении
      button.button.button_lg.button_radius Кнопка при нажатии
    .btn-box-outer
      button.button.button_lg.mb10.button_radius Обычная кнопка
      button.button.button_lg.button_radius Кнопка при наведении
      button.button.button_lg.button_radius Кнопка при нажатии
    .btn-box-outer
      button.button.button_sm.button_radius Маленькая кнопка
      button.button.button_sm.button_radius При наведении
      button.button.button_sm.button_radius При нажатии

  section.listBox.py60.mt60
    .listBox-row
      .listBox-col
        h5.h5.h5_white.mt30 Маркированный список:
        ul.listItem.listItem_checkers
          svg.listItem__itemIcon
            use(href="./resources/images/sprite.svg#tick")
          li.listItem__item.mb30
            span.listItem__text.listItem__text_white Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
          svg.listItem__itemIcon
            use(href="./resources/images/sprite.svg#tick")
          li.listItem__item.mb30
            span.listItem__text.listItem__text_white Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
          svg.listItem__itemIcon
            use(href="./resources/images/sprite.svg#tick")
          li.listItem__item
            span.listItem__text.listItem__text_white Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.
      .listBox-col
        h5.h5.h5_white.mt30 Нумерованный список:
        ul.listItem.listItem_numbers.listItem_blue-markers
          li.listItem__item.mb30
            span.listItem__text.listItem__text_white Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
          li.listItem__item.mb30
            span.listItem__text.listItem__text_white Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
          li.listItem__item
            span.listItem__text.listItem__text_white Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.


  section.checkRadio
    .checkRadio-row
      .checkRadio-col
        .check.mb30
          .option.mr50
            input.option__input.option__input_check#yandex-check(type="checkbox", name="a" checked)
            label.option__item(for="yandex-check")
              svg.option__tick
                use(href="./resources/images/sprite.svg#tick")
            span.option__title Яндекс.Директ
          .option
            input.option__input.option__input_check#google-check(type="checkbox", name="a")
            label.option__item(for="google-check")
              svg.option__tick
                use(href="./resources/images/sprite.svg#tick")
            span.option__title Google AdWords
        .radio
          .option.mr50
            input.option__input.option__input_radio#yandex-radio(type="radio", name="b")
            label.option__item.option__item_circle(for="yandex-radio")
              span.option__dot
            span.option__title Яндекс.Директ
          .option
            input.option__input.option__input_radio#google-radio(type="radio", name="b")
            label.option__item.option__item_circle(for="google-radio")
              span.option__dot
            span.option__title Google AdWords

      .checkRadio-col
        .toogle
          .check.mb30
            .option.mr50
              input.option__input.option__input_check#yandex-check2(type="checkbox", name="c" checked)
              label.option__item.option__item_white(for="yandex-check2")
                svg.option__tick
                  use(href="./resources/images/sprite.svg#tick")
              span.option__title Согласен с условиями обработки персональных данных
            .option
              input.option__input.option__input_check#google-check2(type="checkbox", name="c")
              label.option__item.option__item_white(for="google-check2")
                svg.option__tick
                  use(href="./resources/images/sprite.svg#tick")
              span.option__title Согласен с условиями обработки персональных данных
          .radio
            .option.mr50
              input.option__input.option__input_radio#yandex-radio2(type="radio", name="d")
              label.option__item.option__item_white.option__item_circle(for="yandex-radio2")
                span.option__dot
              span.option__title Яндекс.Директ
            .option
              input.option__input.option__input_radio#google-radio2(type="radio", name="d")
              label.option__item.option__item_white.option__item_circle(for="google-radio2")
                span.option__dot
              span.option__title Google AdWords
        
  .accordeonBox
    .accordeonBox-row
      .accordeon
        .accordeon__item
          .accordeon-title
            h3.accordeon-title__text Что такое контекстная реклама?
            svg.accordeon-title__icon
              use(href="./resources/images/solid.svg#angle-down")
          .accordeon-content
            p.accordeon-content__text 
              span.accordeon-content__subtitle
                | Контекстная реклама 
              | — это текстовые объявления, которые показываются пользователям по запросам, если эти запросы рекламодатель добавил в настройки рекламной кампании. Объявления показываются пользователю именно в тот момент, когда он сам проявил интерес к товару или услуге и, возможно, готов к покупке. Контекстная реклама бывает поисковой и тематической.
        .accordeon__item
          .accordeon-title
            h3.accordeon-title__text Как выглядит контекстная реклама?
            svg.accordeon-title__icon
              use(href="./resources/images/solid.svg#angle-down")
          .accordeon-content
            p.accordeon-content__text 
              span.accordeon-content__subtitle
                | Контекстная реклама 
              | — это текстовые объявления, которые показываются пользователям по запросам, если эти запросы рекламодатель добавил в настройки рекламной кампании. Объявления показываются пользователю именно в тот момент, когда он сам проявил интерес к товару или услуге и, возможно, готов к покупке. Контекстная реклама бывает поисковой и тематической.
        .accordeon__item
          .accordeon-title
            h3.accordeon-title__text Где будут показываться мои объявления?
            svg.accordeon-title__icon
              use(href="./resources/images/solid.svg#angle-down")
          .accordeon-content
            p.accordeon-content__text 
              span.accordeon-content__subtitle
                | Контекстная реклама 
              | — это текстовые объявления, которые показываются пользователям по запросам, если эти запросы рекламодатель добавил в настройки рекламной кампании. Объявления показываются пользователю именно в тот момент, когда он сам проявил интерес к товару или услуге и, возможно, готов к покупке. Контекстная реклама бывает поисковой и тематической.
        .accordeon__item
          .accordeon-title
            h3.accordeon-title__text Каким образом высчитывается цена входа в рекламные места, как списывается цена за клик?
            svg.accordeon-title__icon
              use(href="./resources/images/solid.svg#angle-down")
          .accordeon-content
            p.accordeon-content__text 
              span.accordeon-content__subtitle
                | Контекстная реклама 
              | — это текстовые объявления, которые показываются пользователям по запросам, если эти запросы рекламодатель добавил в настройки рекламной кампании. Объявления показываются пользователю именно в тот момент, когда он сам проявил интерес к товару или услуге и, возможно, готов к покупке. Контекстная реклама бывает поисковой и тематической.
    
  .slider-box
    .slider-row
      .container.container_slider-container
        .slider
          img.slider__item(src="./resources/images/slide1.jpg", alt="", srcset="")
          img.slider__item(src="./resources/images/slide2.jpg", alt="", srcset="")
          img.slider__item(src="./resources/images/slide3.jpg", alt="", srcset="")
          img.slider__item(src="./resources/images/slide4.jpg", alt="", srcset="")
        svg.slider-box__arrow.slider-box__arrow_prev
          use(href="./resources/images/solid.svg#angle-left")
        svg.slider-box__arrow.slider-box__arrow_next
          use(href="./resources/images/solid.svg#angle-right")

  .container.my80
    .article
      .text
        | Одним из самых эффективных способов расширения объявлений являются, конечно же. дополнительные ссылки. Данная функция позволяет добавлять до 10 ссылок на страницы вашего сайта. Хотите чтобы объявление стало более заметным и информативным? И в то же время оказало помощь потенциальному клиенту и сориентировало его на вашем сайте? Тогда добавление дополнительных ссылок — необходимый шаг для повышения эффективности вашей контекстной кампании. Но не стоит забывать и о фактической пользе для посетителя — если в объявлениях будут размещены ссылки на бесполезные для пользователя разделы сайта, то он просто тут же покинет ваш ресурс.
      img.article__img.article__img_mt35(src="./resources/images/article-img.jpg", alt="")
      .text.text_opacity5.textSize13 10 шагов по проверке эффективности кампании контекстной рекламы

  .bg-box.p60
    .container._py80.pb120
      .message
        h3.h3.h3_white.mb50.textCenter.extraBold.upper.textSize46
          | Остались вопросы? Звоните специалистам!
        .message-inner.message-inner_sm
          h3.message__phone.mb20 +7 7273 
            span 124 226
          .text.white.textCenter.mb50 или оставьте заявку и 
            span.text.accent мы свяжемся с вами
          .input.mb20
            input.input__field(type="text" name="" placeholder="Иванов Сергей")  
            svg.input__icon
              use(href="./resources/images/solid.svg#user")
          .input.mb20
            input.input__field(type="tel" name="" placeholder="+7 771 224 21 21")  
            svg.input__icon
              use(href="./resources/images/sprite.svg#phone")
          .input.mb20
            input.input__field(type="email" name="" placeholder="ivanov@mail.ru")  
            svg.input__icon
              use(href="./resources/images/solid.svg#envelope")
          .option.mt30.mb40.option_vtop
            input.option__input.option__input_check#userData(type="checkbox", name="d" checked)
            label.option__item.option__item_white(for="userData")
              svg.option__tick
                use(href="./resources/images/sprite.svg#tick")
            p.option__title Разрешаю обработку персональных данных
              span.option__string * — обязательные для заполнения поля      
          button.button.button_m-auto.button_sm Оставить заявку

  .container.my50
    .message
      .box.box_gray.p60
        h3.textCenter.extraBold.upper.textSize46
          | Давайте обсудим
          br 
          | ваш проект
        .text.semiBold.textCenter.textSize22.mb50.mt20 продумаем и сделаем!
        .message-inner.message-inner_lg
          .box.box_col-2
            .box__inner
              .input.mb20
                input.input__field(type="text" name="" placeholder="Иванов Сергей")  
                svg.input__icon
                  use(href="./resources/images/solid.svg#user")
              .input.mb20
                input.input__field(type="tel" name="" placeholder="+7 771 224 21 21")  
                svg.input__icon
                  use(href="./resources/images/sprite.svg#phone")
              .input
                input.input__field(type="email" name="" placeholder="ivanov@mail.ru")  
                svg.input__icon
                  use(href="./resources/images/solid.svg#envelope")
            .box-col2__inner
              textarea.textarea(name="" placeholder="Сообщение")
          
          p.text.textSize14.mb40 Поля отмеченные звездочкой ( 
            span.accent *
            |  ), являются обязательными

          button.button.button_m-auto.button_sm Отправить

  .container
    .box.box-col2.box_gray.py20.px50
      .dropdown.disabled
        .dropdown__head
          .dropdown__item.selected Выпадающий список
          svg.dropdown__arrow
            use(href='./resources/images/solid.svg#angle-down')
        .dropdown__body
          .dropdown__item Элемент 1
          .dropdown__item Элемент 2
          .dropdown__item Элемент 3
          .dropdown__item Элемент 4
          .dropdown__item Элемент 5
      .dropdown
        .dropdown__head
          .dropdown__item.selected Выпадающий список
          svg.dropdown__arrow
            use(href='./resources/images/solid.svg#angle-down')
        .dropdown__body
          .dropdown__item Элемент 1
          .dropdown__item Элемент 2
          .dropdown__item Элемент 3
          .dropdown__item Элемент 4
          .dropdown__item Элемент 5

  .container.my30
    .mini-box.mini-box_big.mini-box_gray.mini-box_center.px50
      .input.mb20
        input.validate.input__field(type="tel" name="" placeholder="+7 771 224 21 21")  
        svg.input__icon
          use(href="./resources/images/solid.svg#times")
      .input
        input.validate.input__field(type="email" name="" placeholder="ivanov@mail.ru")  
        svg.input__icon
          use(href="./resources/images/solid.svg#times")
      p.input__error введите правильно почту

  .container.my30
    .box.box-col2
      .mini-box_blue.px30.py35
        h6.h6 Успешно выполненное действие
        p.text.mb0 С другой стороны постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых условий. 
      .mini-box_pink.px30.py35
        h6.h6 Успешно выполненное действие
        p.text.mb0 С другой стороны постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки существенных финансовых условий. 

  .container.my50
    .tumbler.tumbler_pink
      .tumbler__point 
      .tumbler__item.tumbler__item_active Landing Page
      .tumbler__item Корпоративный
      .tumbler__item Каталог
      .tumbler__item Интернет-магазин

  .gradient-box.gradient-box_gradient3.gradient-box_withPadding
    .container
      .tumbler.tumbler_white
        .tumbler__point 
        .tumbler__item.tumbler__item_active Landing Page
        .tumbler__item Корпоративный
        .tumbler__item Каталог
        .tumbler__item Интернет-магазин

  .container.my30
    .box.px50
      .tarif.tarif_pink.mb20
        button.tarif__option.tarif__option_lg.tarif__option_active Базовый
        button.tarif__option.tarif__option_lg Стандарт
        button.tarif__option.tarif__option_lg Премиум
      .tarif.tarif_pink
        button.tarif__option.tarif__option_sm до 50
        button.tarif__option.tarif__option_sm.tarif__option_active до 100
        button.tarif__option.tarif__option_sm до 200
        button.tarif__option.tarif__option_sm до 600
    
  .container.my30
    .gradient-box.gradient-box_gradient3.gradient-box_withPadding.px50
      .tarif.tarif_white.mb20
        button.tarif__option.tarif__option_lg.tarif__option_active Базовый
        button.tarif__option.tarif__option_lg Стандарт
        button.tarif__option.tarif__option_lg Премиум
      .tarif.tarif_white
        button.tarif__option.tarif__option_sm до 50
        button.tarif__option.tarif__option_sm.tarif__option_active до 100
        button.tarif__option.tarif__option_sm до 200
        button.tarif__option.tarif__option_sm до 600

  .container.my50
    .infoWrapper
      .info.info_bg
        .infoTitle 
          p.info__title.info__title_white Средний показатель качества рекламных объявлений 
            br 
            | (CTR) - 22,24%   
            span.info__icon.info__icon_white ?
        .infoDescription.mt10
          p.info__text CTR — Сlick-through rate. Это отношение кликов по объявлению к показам. Например, если вам говорят, что CTR равен 3%, это означает, что на 100 показанных объявления приходится три клика пользователей по ним.
      .info
        .infoTitle 
          p.info__title Средний показатель качества рекламных объявлений 
            br 
            | (CTR) - 22,24%   
            span.info__icon.info__icon_pink ?
        .infoDescription.mt10
          p.info__text CTR — Сlick-through rate. Это отношение кликов по объявлению к показам. Например, если вам говорят, что CTR равен 3%, это означает, что на 100 показанных объявления приходится три клика пользователей по ним.
          
  .container.my50  
    table.table.table_pink
      caption.table__title Заголовок таблицы
      tr.table__title-row
        th.table__title-column Продукты
        th.table__title-column Стоимость
        th.table__title-column Продолжительность
      tr.table__row
        td.table__column Прототипы
        td.table__column от 50 000 тг 
        td.table__column 1 месяц 
      tr.table__row
        td.table__column Адаптивные и композитные сайты
        td.table__column от 500 000 тг
        td.table__column 6 месяцев
      tr.table__row
        td.table__column Landing page
        td.table__column от 200 000 тг
        td.table__column 3 месяца
        
  .bg-box.py60.mt60
    .container  
      table.table.table_white
        caption.table__title Заголовок таблицы
        tr.table__title-row
          th.table__title-column Продукты
          th.table__title-column Стоимость
          th.table__title-column Продолжительность
        tr.table__row
          td.table__column Прототипы
          td.table__column от 50 000 тг 
          td.table__column 1 месяц 
        tr.table__row
          td.table__column Адаптивные и композитные сайты
          td.table__column от 500 000 тг
          td.table__column 6 месяцев
        tr.table__row
          td.table__column Landing page
          td.table__column от 200 000 тг
          td.table__column 3 месяца

  .container.my50
    .pagination
      svg.pagination__arrow.pagination__arrow_prev.pagination__arrow_disabled
        use(href="./resources/images/solid.svg#angle-left")
      .numbers.mx30
        p.numbers__item.numbers__item_active
          span.numbers__number 1
          span.numbers__dots ...
        p.numbers__item
          span.numbers__number 2
          span.numbers__dots ...
        p.numbers__item
          span.numbers__number 3
          span.numbers__dots ...
        p.numbers__item
          span.numbers__number 4
          span.numbers__dots ...
        p.numbers__item
          span.numbers__number 5
          span.numbers__dots ...
        p.numbers__item
          span.numbers__number 6
          span.numbers__dots ...
        p.numbers__item
          span.numbers__number 7
          span.numbers__dots ...
        p.numbers__item
          span.numbers__number 8
          span.numbers__dots ...
        p.numbers__item
          span.numbers__number 9
          span.numbers__dots ...
        p.numbers__item
          span.numbers__number 10
          span.numbers__dots ...
      svg.pagination__arrow.pagination__arrow_next
        use(href="./resources/images/solid.svg#angle-right")

  .box.mb50
    .insta
      .instaBlock.mb30
        svg.insta__title
          use(href='./resources/images/sprite.svg#insta')
      .instaInner
        .insta__item
          a(href="")
            img(src='./resources/images/Insta1.jpg', alt="", srcset="")
        .insta__item
          a(href="")
            img(src='./resources/images/Insta2.jpg', alt="", srcset="")
        .insta__item
          a(href="")
            img(src='./resources/images/Insta3.jpg', alt="", srcset="")
        .insta__item
          a(href="")
            img(src='./resources/images/Insta4.jpg', alt="", srcset="")
        .insta__item
          a(href="")
            img(src='./resources/images/Insta5.jpg', alt="", srcset="")

  footer.footer
    .container
      .footerInner
        .copyright
          p.copyright__company © 2018 ТОО Компания «Siter.KZ» 
          p.copyright__text Все права защищены
        .social
          span.social__text Мы в социальных сетях
          .socialIcons
            a(href="")
              svg.socialIcons__icon
                use(href="./resources/images/sprite.svg#instagram") 
            a(href="")
              svg.socialIcons__icon
                use(href="./resources/images/sprite.svg#facebook") 
            a(href="")
              svg.socialIcons__icon
                use(href="./resources/images/sprite.svg#vk") 