.blog
  include ../../blocks/navigation/navigation

  .container.py80    
  
    h1.h1 Компания «siter.kz»
    p.text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
    p.text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
    p.text Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.
    h2.h2.mt30 Разработка сайтов
    p.text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
    p.text Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.
    h3.h3.mt30 Индивидуальные решения
    p.text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
    p.text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
    h4.h4.mt30 Заголовок h4
    p.text Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.
    p.text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
    h5.h5.mt30 Заголовок h5
    p.text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
    h6.h6.mt30 Заголовок h6
    p.text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.

    .box.box_col-2.mb50
      .list-box-outer
        h5.h5.mt30.h5_offset-left20 Маркированный список:
        ul.list-box.list-box_checkers
          svg.list-box__item-icon
            use(href="./resources/images/sprite.svg#tick")
          li.list-box__item.mb30
            span.list-box__text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
          svg.list-box__item-icon
            use(href="./resources/images/sprite.svg#tick")
          li.list-box__item.mb30
            span.list-box__text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
          svg.list-box__item-icon
            use(href="./resources/images/sprite.svg#tick")
          li.list-box__item
            span.list-box__text Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.
      .list-box-outer
        h5.h5.mt30.h5_offset-left20 Нумерованный список:
        ul.list-box.list-box_numbers.list-box_blue-markers
          li.list-box__item.mb30
            span.list-box__text Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
          li.list-box__item.mb30
            span.list-box__text Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
          li.list-box__item
            span.list-box__text Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.

    .link-outer.mb75
      a.link-box.mr50(href="#")
        svg.link-box__icon
            use(href="./resources/images/sprite.svg#link")
        span.link-box__text ссылка
      a.link-box(href="")
        svg.link-box__icon
            use(href="./resources/images/sprite.svg#link")
        span.link-box__text посещенная ссылка

    .gradient-box.gradient-box_gradient1.gradient-box_w270.mb20
      span.gradient-box__text Выделенный текст
    .gradient-box.gradient-box_gradient2.gradient-box_w270.mb20
      span.gradient-box__text.gradient-box__text_dark Выделенный текст
    .gradient-box.gradient-box_gradient1.gradient-box_w500.gradient-box_fat.gradient-box_center.mb90
      span.gradient-box__text.gradient-box__text_upper.gradient-box__text_fat Важный выделенный текст

    .btn-box-outer.mb20
      button.button.button_lg Обычная кнопка
      button.button.button_lg Кнопка при наведении
      button.button.button_lg.mt10 Кнопка при нажатии
    .btn-box-outer.mb20
      button.button.button_lg.button_white Обычная кнопка
      button.button.button_lg Кнопка при наведении
      button.button.button_lg.mt10 Кнопка при нажатии
    .btn-box-outer
      button.button.button_sm Маленькая кнопка
      button.button.button_sm При наведении
      button.button.button_sm При нажатии
    .text.my30.semiBold при нажатии сдвиг на 1 px вниз
    .btn-box-outer.mb20
      button.button.button_lg.button_white.button_radius Обычная кнопка
      button.button.button_lg.button_radius Кнопка при наведении
      button.button.button_lg.button_radius.mt10 Кнопка при нажатии
    .btn-box-outer.mb20
      button.button.button_lg.button_radius Обычная кнопка
      button.button.button_lg.button_radius Кнопка при наведении
      button.button.button_lg.button_radius.mt10 Кнопка при нажатии
    .btn-box-outer
      button.button.button_sm Маленькая кнопка
      button.button.button_sm При наведении
      button.button.button_sm При нажатии

  .bg-box.py60.mt60
    .container
      .box.box_col-2
        .list-box-outer
          h5.h5.mt30.h5_offset-left20.h5_white Маркированный список:
          ul.list-box.list-box_checkers
            svg.list-box__item-icon.list-box__item-icon_check-black
              use(href="./resources/images/sprite.svg#tick")
            li.list-box__item.mb15
              span.list-box__text.list-box__text_white Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
            svg.list-box__item-icon.list-box__item-icon_check-black
              use(href="./resources/images/sprite.svg#tick")
            li.list-box__item.mb15
              span.list-box__text.list-box__text_white Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
            svg.list-box__item-icon.list-box__item-icon_check-black
              use(href="./resources/images/sprite.svg#tick")
            li.list-box__item
              span.list-box__text.list-box__text_white Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.
        .list-box-outer
          h5.h5.mt30.h5_offset-left20.h5_white Нумерованный список:
          ul.list-box.list-box_numbers.list-box_blue-markers
            li.list-box__item.mb15
              span.list-box__text.list-box__text_white Посетители сайта стали быстрее находить интересующий их товар в каталоге и с легкостью узнавать в каком ближайшем магазине удобнее всего его купить, тем самым повышая продажи в дилерской сети компании.
            li.list-box__item.mb15
              span.list-box__text.list-box__text_white Разделение информации для разных клиентов и подключение аналитики помогает маркетологу эффективнее разрабатывать рекламные предложения.
            li.list-box__item
              span.list-box__text.list-box__text_white Система управления 1С-Битрикс за счет своего удобства экономит время работы с сайтом и позволяет интегрировать его с CRM Битрикс24.

  .container.my40
    .check.mb30
      .option.mr50
        input.option__input.option__input_check#yandex-check(type="checkbox", name="a" checked)
        label.option__item(for="yandex-check")
          svg.option__tick
            use(href="./resources/images/sprite.svg#tick")
        span.option__title Яндекс.Директ
      .option
        input.option__input.option__input_check#google-check(type="checkbox", name="a")
        label.option__item(for="google-check")
          svg.option__tick
            use(href="./resources/images/sprite.svg#tick")
        span.option__title Google AdWords
    .radio
      .option.mr50
        input.option__input.option__input_radio#yandex-radio(type="radio", name="b")
        label.option__item.option__item_circle(for="yandex-radio")
          span.option__dot
        span.option__title Яндекс.Директ
      .option
        input.option__input.option__input_radio#google-radio(type="radio", name="b")
        label.option__item.option__item_circle(for="google-radio")
          span.option__dot
        span.option__title Google AdWords

  .container
    .toogle
      .check.mb30
        .option.mr50
          input.option__input.option__input_check#yandex-check2(type="checkbox", name="c" checked)
          label.option__item.option__item_white(for="yandex-check2")
            svg.option__tick
              use(href="./resources/images/sprite.svg#tick")
          span.option__title Согласен с условиями обработки персональных данных
        .option
          input.option__input.option__input_check#google-check2(type="checkbox", name="c")
          label.option__item.option__item_white(for="google-check2")
            svg.option__tick
              use(href="./resources/images/sprite.svg#tick")
          span.option__title Согласен с условиями обработки персональных данных
      .radio
        .option.mr50
          input.option__input.option__input_radio#yandex-radio2(type="radio", name="d")
          label.option__item.option__item_white.option__item_circle(for="yandex-radio2")
            span.option__dot
          span.option__title Яндекс.Директ
        .option
          input.option__input.option__input_radio#google-radio2(type="radio", name="d")
          label.option__item.option__item_white.option__item_circle(for="google-radio2")
            span.option__dot
          span.option__title Google AdWords
        
  .container.my50
    .accordeon
      .accordeon__item
        .accordeon-title
          h3.accordeon-title__text Что такое контекстная реклама?
          svg.accordeon-title__icon
            use(href="./resources/images/solid.svg#angle-down")
        .accordeon-content
          p.accordeon-content__text 
            span.accordeon-content__subtitle
              | Контекстная реклама 
            | — это текстовые объявления, которые показываются пользователям по запросам, если эти запросы рекламодатель добавил в настройки рекламной кампании. Объявления показываются пользователю именно в тот момент, когда он сам проявил интерес к товару или услуге и, возможно, готов к покупке. Контекстная реклама бывает поисковой и тематической.
      .accordeon__item
        .accordeon-title
          h3.accordeon-title__text Как выглядит контекстная реклама?
          svg.accordeon-title__icon
            use(href="./resources/images/solid.svg#angle-down")
        .accordeon-content
          p.accordeon-content__text 
            span.accordeon-content__subtitle
              | Контекстная реклама 
            | — это текстовые объявления, которые показываются пользователям по запросам, если эти запросы рекламодатель добавил в настройки рекламной кампании. Объявления показываются пользователю именно в тот момент, когда он сам проявил интерес к товару или услуге и, возможно, готов к покупке. Контекстная реклама бывает поисковой и тематической.
      .accordeon__item
        .accordeon-title
          h3.accordeon-title__text Где будут показываться мои объявления?
          svg.accordeon-title__icon
            use(href="./resources/images/solid.svg#angle-down")
        .accordeon-content
          p.accordeon-content__text 
            span.accordeon-content__subtitle
              | Контекстная реклама 
            | — это текстовые объявления, которые показываются пользователям по запросам, если эти запросы рекламодатель добавил в настройки рекламной кампании. Объявления показываются пользователю именно в тот момент, когда он сам проявил интерес к товару или услуге и, возможно, готов к покупке. Контекстная реклама бывает поисковой и тематической.
      .accordeon__item
        .accordeon-title
          h3.accordeon-title__text Каким образом высчитывается цена входа в рекламные места, как списывается цена за клик?
          svg.accordeon-title__icon
            use(href="./resources/images/solid.svg#angle-down")
        .accordeon-content
          p.accordeon-content__text 
            span.accordeon-content__subtitle
              | Контекстная реклама 
            | — это текстовые объявления, которые показываются пользователям по запросам, если эти запросы рекламодатель добавил в настройки рекламной кампании. Объявления показываются пользователю именно в тот момент, когда он сам проявил интерес к товару или услуге и, возможно, готов к покупке. Контекстная реклама бывает поисковой и тематической.
    
  .slider-box
    .container.container_slider-container
      .slider
        img.slider__item(src="./resources/images/slide1.jpg", alt="", srcset="")
        img.slider__item(src="./resources/images/slide2.jpg", alt="", srcset="")
        img.slider__item(src="./resources/images/slide3.jpg", alt="", srcset="")
        img.slider__item(src="./resources/images/slide4.jpg", alt="", srcset="")
      svg.slider-box__arrow.slider-box__arrow_prev
        use(href="./resources/images/solid.svg#angle-left")
      svg.slider-box__arrow.slider-box__arrow_next
        use(href="./resources/images/solid.svg#angle-right")

  .container.my80
    .article
      .text
        | Одним из самых эффективных способов расширения объявлений являются, конечно же. дополнительные ссылки. Данная функция позволяет добавлять до 10 ссылок на страницы вашего сайта. Хотите чтобы объявление стало более заметным и информативным? И в то же время оказало помощь потенциальному клиенту и сориентировало его на вашем сайте? Тогда добавление дополнительных ссылок — необходимый шаг для повышения эффективности вашей контекстной кампании. Но не стоит забывать и о фактической пользе для посетителя — если в объявлениях будут размещены ссылки на бесполезные для пользователя разделы сайта, то он просто тут же покинет ваш ресурс.
      img.article__img.article__img_mt35(src="./resources/images/article-img.jpg", alt="")
      .text.text_opacity5.textSize13 10 шагов по проверке эффективности кампании контекстной рекламы

  .bg-box.p60
    .container._py80.pb120
      .message
        h3.h3.h3_white.mb50.textCenter.extraBold.upper.textSize46
          | Остались вопросы? Звоните специалистам!
        .message-inner.message-inner_sm
          h3.message__phone.mb20 +7 7273 
            span 124 226
          .text.white.textCenter.mb50 или оставьте заявку и 
            span.text.accent мы свяжемся с вами
          .input.mb20
            input.input__field(type="text" name="" placeholder="Иванов Сергей")  
            svg.input__icon
              use(href="./resources/images/solid.svg#user")
          .input.mb20
            input.input__field(type="tel" name="" placeholder="+7 771 224 21 21")  
            svg.input__icon
              use(href="./resources/images/sprite.svg#phone")
          .input.mb20
            input.input__field(type="email" name="" placeholder="ivanov@mail.ru")  
            svg.input__icon
              use(href="./resources/images/solid.svg#envelope")
          .option.mt30.mb40.option_vtop
            input.option__input.option__input_check#userData(type="checkbox", name="d" checked)
            label.option__item.option__item_white(for="userData")
              svg.option__tick
                use(href="./resources/images/sprite.svg#tick")
            p.option__title Разрешаю обработку персональных данных
              span.option__string * — обязательные для заполнения поля      
          button.button.button_m-auto.button_sm Оставить заявку

  .container.my50
    .message
      .box.box_gray.p60
        h3.textCenter.extraBold.upper.textSize46
          | Давайте обсудим
          br 
          | ваш проект
        .text.semiBold.textCenter.textSize22.mb50.mt20 продумаем и сделаем!
        .message-inner.message-inner_lg
          .box.box_col-2
            .box__inner
              .input.mb20
                input.input__field(type="text" name="" placeholder="Иванов Сергей")  
                svg.input__icon
                  use(href="./resources/images/solid.svg#user")
              .input.mb20
                input.input__field(type="tel" name="" placeholder="+7 771 224 21 21")  
                svg.input__icon
                  use(href="./resources/images/sprite.svg#phone")
              .input
                input.input__field(type="email" name="" placeholder="ivanov@mail.ru")  
                svg.input__icon
                  use(href="./resources/images/solid.svg#envelope")
            .box-col2__inner
              textarea.textarea(name="" placeholder="Сообщение")
          
          p.text.textSize14.mb40 Поля отмеченные звездочкой ( 
            span.accent *
            |  ), являются обязательными

          button.button.button_m-auto.button_sm Отправить

  .container
    .box.box_gray


  
