@import '../../main.scss';

.list-box-outer {
  padding-left: 20px;
}

.list-box {
  padding: 0;
  font-weight: 600;

  &_blue-markers {
    color: $fourth;
  }

  &_numbers {
    list-style-type: decimal;
  }

  &_checkers {
    list-style-type: none;
  }

  &__item-icon {
    width: 20px;
    height: 20px;
    background-color: $fourth;
    border-radius: 10px;
    padding: 5px;
    fill: $white;
    position: absolute;
    transform: translate(-100%, 10%);

    &_check-black {
      fill: #000;
    }

    &+.list-box__item {
      padding-left: 10px;
    }
  }

  .list-box__item {

    .list-box__text {
      color: $first;
      font-weight: 400;
      line-height: 24px;

      &_white {
        color: $white;
      }
    }
  }
}

.link-box {
  color: $fourth;
  fill: $fourth;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__text {
    font-size: 17px;
    text-decoration: underline;
  }

  &:visited {
    color: $visitedLink;
  }
}

.gradient-box {
  padding: 15px 20px;

  &_gradient1 {
    background: $gradient1;
  }

  &_gradient2 {
    background: $gradient2;
  }

  &_w270 {
    width: 270px;
  }

  &_w500 {
    width: 500px;
  }

  &_center {
    text-align: center;
  }

  &__text {
    color: $white;
    font-weight: 600;

    &_dark {
      color: $first;
    }

    &_upper {
      text-transform: uppercase;
    }

    &_fat {
      font-weight: 900;
    }
  }
}

.btn-box-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 674px;
}

.button {
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: $accent;
  color: $white;
  text-transform: uppercase;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
  border: 0;
  display: block;
  cursor: pointer;
  position: relative;

  &_sm {
    width: 210px;
    font-weight: 400;
    font-size: 15px;
  }

  &_lg {
    width: 325px;
    font-weight: 600;
  }

  &_radius {
    border-radius: 30px;
  }

  &_m-auto {
    margin: auto;
  }

  &_white {
    background-color: $white;
    color: $accent;
    border: 3px solid $accent;
  }

  &:focus {
    outline: 0;
  }
}

.check {
  display: flex;
}

.radio {
  display: flex;
}

.option {
  display: inline-flex;
  align-items: center;

  &_vtop {
    align-items: flex-start;
  }

  &__title {
    margin: 0;
  }

  &__string {
    display: block;
    margin-top: 15px;
  }

  &__input {
    display: none;

    &_check {
      &:checked+.option__item .option__tick {
        visibility: visible;
      }
    }

    &_radio {
      &:checked+.option__item .option__dot {
        visibility: visible;
      }
    }
  }

  &__item {
    width: 24px;
    height: 24px;
    border-width: 2px;
    border-style: solid;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;

    &_circle {
      border-radius: 50%;
    }

    &_white {
      border-color: $white;

      .option__dot {
        background-color: $white;
      }

      .option__tick {
        fill: $white;
      }

      &+.option__title {
        color: $white;
      }
    }
  }

  &__tick {
    width: 20px;
    height: 20px;
    padding: 5px;
    display: block;
    visibility: hidden;
    fill: $accent;
  }

  &__dot {
    display: block;
    visibility: hidden;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: $accent;
  }

  &__title {
    font-size: 15px;
  }
}

.toogle {
  width: 565px;
  background: $gradient3;
  padding: 40px 25px 25px 25px;
}

.accordeon {
  border: 1px solid #ECECEC;

  &__item {
    border-left: 3px solid transparent;
    cursor: pointer;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid #ECECEC;
  }

  &__item:hover {
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.14);
    border-left-color: $accent;
  }
}

.accordeon-title {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  &__icon {
    width: 20px;
    fill: #D1D1D1;
    flex-shrink: 0;
  }
}

.accordeon-content {
  padding: 0 30px;
  display: none;

  &__text {
    line-height: 22px;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 10px;
  }

  &__subtitle {
    font-weight: 600;
  }
}

.article {
  &__img {
    &_mt35 {
      margin-top: 35px;
    }
  }
}

.message {

  &-inner {
    margin: 0 auto;

    &_lg {
      width: 580px;
    }

    &_sm {
      width: 414px;
    }
  }

  &__phone {
    color: $white;
    font-size: 45px;
    padding: 20px 0px;
    border: 3px solid $accent;
    font-weight: 400;
    text-align: center;

    span {
      font-weight: 800;
    }
  }
}

.textarea{
  resize: none;
  border: 1px solid #e6e6e6;
  width: 100%;
  padding: 10px 15px;
  height: 100%;

  &:focus{
    outline: 0;
    border-color: #9b9b9b;
  }
}

.box-col2{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 25px;
}