%svg-common {
	background: url("../images/spriteBg.svg") no-repeat;
}

@mixin arrow-down-sign-to-navigate {
	@extend %svg-common;
	background-position: 0 0;
}

@mixin arrow-down-sign-to-navigate-dims {
	width: 512px;
	height: 512px;
}

@mixin left-arrow {
	@extend %svg-common;
	background-position: 100% 0;
}

@mixin left-arrow-dims {
	width: 512px;
	height: 512px;
}

@mixin satellite-dish {
	@extend %svg-common;
	background-position: 0 100%;
}

@mixin satellite-dish-dims {
	width: 512px;
	height: 512px;
}

