@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Semibold.woff2') format('woff2'),
        url('OpenSans-Semibold.woff') format('woff'),
		url('OpenSans-Semibold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Extrabold.woff2') format('woff2'),
		url('OpenSans-Extrabold.woff') format('woff'),
        url('OpenSans-Extrabold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans.woff2') format('woff2'),
        url('OpenSans.woff') format('woff'),
		url('OpenSans.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

