.aside
  .logo-container
    .logo
      svg.logo__icon
        use(xlink:href="../resources/images/sprite.svg#logo")
      h3.logo__text 
        | Siter
        span .kz
  
  .menu
    .box
      a.link(href="")
        svg.link__icon
          use(xlink:href="../resources/images/sprite.svg#logo")
        span О нас
    .box
      a.link(href="")
        svg.link__icon
          use(xlink:href="../resources/images/solid.svg#bars")
        span Услуги
    .box
      a.link(href="")
        svg.link__icon
          use(xlink:href="../resources/images/solid.svg#briefcase")
        span Портфолио
        svg.link__icon-arrow
            use(xlink:href="./resources/images/solid.svg#chevron-right")
    .box
      a.link(href="")
        svg.link__icon
          use(xlink:href="../resources/images/solid.svg#mobile-alt")
        span Контакты
    .box
      a.link(href="")
        svg.link__icon
          use(xlink:href="../resources/images/solid.svg#pen-square")
        span Оставить заявку
        
    .box
      .cityes.cityes_pl-20#cityesVertical
        .item.active
          svg.item__icon-phone
            use(xlink:href="./resources/images/sprite.svg#phone")
          p.item__city-name.item__city-name_m-20.item__city-name_uppercase Астана 
            span 696-226
          svg.item__arrow.item__arrow_align-right
            use(xlink:href="./resources/images/solid.svg#chevron-right")
        .item.item_flex-end
          p.item__city-name.item__city-name_m-20.item__city-name_uppercase Алмата 
            span 314-226
          svg.item__arrow.item__arrow_align-right
            use(xlink:href="./resources/images/solid.svg#chevron-left")
        .item.item_flex-end
          p.item__city-name.item__city-name_m-20.item__city-name_uppercase Караганда 
            span 321-226
          svg.item__arrow.item__arrow_align-right
            use(xlink:href="./resources/images/solid.svg#chevron-left")

    .button
      span.button__icon-bg
        svg.button__icon
          use(xlink:href="./resources/images/solid.svg#play")
      p.button__text Showreel 2018 


