@import '../../main';

.aside {
  background-color: $first;

  .logo-container {
    margin-bottom: 50px;
    margin-left: 14px;
  }
}

.logo {
  display: flex;
  align-items: center;
  font-size: 25px;

  .logo__icon {
    width: 40px;
    height: 40px;
    fill: $white;
    margin-right: 10px;
  }

  .logo__text {
    color: $white;
    font-weight: 400;
    text-transform: uppercase;

    span {
      font-weight: 600;
    }
  }
}

.link {
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  padding: 20px 25px 20px 20px;

  &:hover {
    background-color: $accent;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $white;
    margin-right: 20px;
  }

  &__icon-arrow {
    width: 10px;
    height: 10px;
    fill: $white;
    position: absolute;
    right: 20px;
  }

  &__text {
    font-size: 13px;
  }
}

.default-button {
  padding: 20px 25px;
  color: $white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  cursor: pointer;

  &__icon-bg {
    width: 25px;
    height: 25px;

    background-color: $accent;
    padding: 5px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  &__icon {
    width: 10px;
    height: 10px;
    fill: $white;
  }
}

.modal-block__curtain {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(52, 48, 55, .7);
  display: none;
  z-index: 1;
}

.modal {
  width: 768px;
  height: fit-content;
  top: 0; bottom: 0;
  left: 0; right: 0;
  position: fixed;
  padding: 100px;
  background-color: #f3f3f3;
  margin: auto;
  text-align: center;
  display: none;
  z-index: 2;
}

.modal-inner{
  width: 280px;
  margin: auto;
  text-align: center;
}

.modal__close {
  position: absolute;
  cursor: pointer;
  top: 50px;
  right: 65px;
  width: 25px;
  height: 25px;
  fill: $first;
  z-index: 3;
}

.modal__header {
  font-size: 46px;
  text-transform: uppercase;
  font-weight: 800;
}

.modal__hint{
  color: #9b9b9b;
  font-size: 14px;

  &_align-left{
    text-align: left;
  }
}

.modal__accent-text{
  color: $accent;
}

.input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  .input__field {
    padding: 10px 15px;
    border: 1px solid #e6e6e6;
    width: 100%;

    &:focus {
      outline: 0;
      border-color: #9b9b9b;
    }

    &:focus+.input__icon {
      fill: #9b9b9b;
      opacity: 1;
    }
  }

  .input__icon {
    width: 15px;
    height: 20px;
    fill: #e6e6e6;
    opacity: .5;
    position: absolute;
    right: 20px;
    top: 11px;
  }

  &__error{
    font-size: 14px;
    color: $accent;
    margin: 10px 0;
    display: none;
  }
}

.video-block__curtain{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0; left: 0;
  background-color: rgba(52, 48, 55, .7);
  display: none;
  z-index: 1;
}

.video-block__frame{
  display: none;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 2;
}

.video__close {
  position: absolute;
  cursor: pointer;
  top: 50px;
  right: 65px;
  width: 25px;
  height: 25px;
  fill: $white;
  z-index: 3;
}