aside.aside
  .logo-container
    .logo
      svg.logo__icon
        use(href="../resources/images/sprite.svg#logo")
      h3.logo__text 
        | Siter
        span .kz
  
  .menu
    .box
      a.link(href="")
        svg.link__icon
          use(href="../resources/images/sprite.svg#logo")
        span О нас
    .box
      a.link(href="")
        svg.link__icon
          use(href="../resources/images/solid.svg#bars")
        span Услуги
    .box
      a.link(href="")
        svg.link__icon
          use(href="../resources/images/solid.svg#briefcase")
        span Портфолио
        svg.link__icon-arrow
            use(href="./resources/images/solid.svg#chevron-right")
    .box
      a.link(href="")
        svg.link__icon
          use(href="../resources/images/solid.svg#mobile-alt")
        span Контакты
    .box
      a.link#modalButton(href="")
        svg.link__icon
          use(href="../resources/images/solid.svg#pen-square")
        span Оставить заявку
        
    .box
      .cityes.pl20.cityes_height50#cityesVertical
        .item.active
          svg.item__icon-phone
            use(href="./resources/images/sprite.svg#phone")
          p.item__city-name.mx20.item__city-name_uppercase Астана 
            span 696-226
          svg.item__arrow.item__arrow_align-right
            use(href="./resources/images/solid.svg#chevron-right")
        .item.item_offset
          p.item__city-name.mx20.item__city-name_uppercase Астана 
            span 696-226
          svg.item__arrow.item__arrow_align-right
            use(href="./resources/images/solid.svg#chevron-left")
        .item.item_offset
          p.item__city-name.mx20.item__city-name_uppercase Алмата 
            span 314-226
          svg.item__arrow.item__arrow_align-right
            use(href="./resources/images/solid.svg#chevron-left")
        .item.item_offset
          p.item__city-name.mx20.item__city-name_uppercase Караганда 
            span 321-226
          svg.item__arrow.item__arrow_align-right
            use(href="./resources/images/solid.svg#chevron-left")

    .default-button#videoButton
      span.default-button__icon-bg
        svg.default-button__icon
          use(href="./resources/images/solid.svg#play")
      p.default-button__text Showreel 2018 

  .modal-block
    .modal-block__curtain
    .modal
      svg.modal__close
        use(href="./resources/images/solid.svg#times")
      h3.modal__header.mb55 Оставить заявку
      .modal-inner
        .input.mb20
          input.input__field(type="text" name="" placeholder="Иванов Сергей")  
          svg.input__icon
            use(href="./resources/images/solid.svg#user")
        .input.mb20
          input.input__field(type="tel" name="" placeholder="+7 771 224 21 21")  
          svg.input__icon
            use(href="./resources/images/sprite.svg#phone")
        .input.mb20
          input.input__field(type="email" name="" placeholder="ivanov@mail.ru")  
          svg.input__icon
            use(href="./resources/images/solid.svg#envelope")
        p.modal__hint.modal__hint_align-left.mb40 Поля отмеченные звездочкой ( 
          span.modal__accent-text *
          |  ) , являются обязательными
        button.button.button_m-auto.button_sm Отправить

  .video-block
    .video-block__curtain
      svg.video__close
        use(href="./resources/images/solid.svg#times")
      iframe.video-block__frame(src='https://player.vimeo.com/video/248696949', width='640', height='360', frameborder='0', allow='autoplay; fullscreen', allowfullscreen)

