@import 'normalize';
@import 'smart-grid';
@import '../node_modules/slick-carousel/slick/slick.css';

$first: #343037;
$white: #fff;
$accent: #DD1781;
$fourth: #3B91E6;
$visitedLink: #78b5f0;
$fifth: #E9C7D4; 

$gradient1: linear-gradient(90deg, #3B91E6 0%, #7B5FC6 70%, transparent 100%);
$gradient2: linear-gradient(90deg, #E9C7D4 0%, transparent 100%);
$gradient3: linear-gradient(90deg, #B5446E 0%, #9D44B4 100%);

*{
  box-sizing: border-box;
}

html{
  color: $first;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

/* Layout */

body{
  display: flex;
}

header.header{
  height: 50px;
}

aside.aside{
  width: 250px;
}

.content{
  width: calc(100% - 250px);
}

.h1 {
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
}

.h2 {
  font-size: 42px;
  font-weight: 800;
}
 
.h3 {
  font-size: 36px;
  font-weight: 700;
  
  &_white{
    color: $white;
  }
}

.h4 {
  font-size: 28px;
}

.h5 {
  font-size: 22px;

  &_white {
    color: $white;
  }
}

.h6 {
  font-size: 17px;
}

.textCenter{
  text-align: center;
}

.white{
  color: #fff;
}

.accent{
  color: $accent;
}

.semiBold{
  font-weight: 600;
}

.bold{
  font-weight: 700;
}

.extraBold{
  font-weight: 800;
}

.upper{
  text-transform: uppercase;
}

.textSize46{
  font-size: 46px;
}
.textSize22{
  font-size: 22px;
}
.textSize14{
  font-size: 14px;
}
.textSize13{
  font-size: 13px;
}

.text {
  line-height: 24px;

  &_opacity5 {
    opacity: .5;
  }
}

/* Шрифты */

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans.woff2') format('woff2'),
      url('fonts/OpenSans.woff') format('woff'),
  url('fonts/OpenSans.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Semibold.woff2') format('woff2'),
      url('fonts/OpenSans-Semibold.woff') format('woff'),
  url('fonts/OpenSans-Semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Bold.woff2') format('woff2'),
      url('fonts/OpenSans-Bold.woff') format('woff'),
      url('fonts/OpenSans-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Extrabold.woff2') format('woff2'),
  url('fonts/OpenSans-Extrabold.woff') format('woff'),
      url('fonts/OpenSans-Extrabold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}

/* Margin X */

.mx10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mx20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx30 {
  margin-left: 30px;
  margin-right: 30px;
}

/* Margin Y */

.my30{
  margin-top: 30px;
  margin-bottom: 30px;
}

.my40{
  margin-top: 40px;
  margin-bottom: 40px;
}

.my50{
  margin-top: 50px;
  margin-bottom: 50px;
}

.my80{
  margin-top: 80px;
  margin-bottom: 80px;
}

/* Margin Right */

.mr30{
  margin-right: 30px;
}

.mr50{
  margin-right: 50px;
}

/* Margin Top */

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt60 {
  margin-top: 60px;
}

/* Margin Bottom */

.mb0{
  margin-bottom: 0px;
}

.mb10{
  margin-bottom: 10px;
}

.mb15{
  margin-bottom: 15px;
}

.mb20{
  margin-bottom: 20px;
}

.mb30{
  margin-bottom: 30px;
}

.mb35{
  margin-bottom: 35px;
}

.mb40{
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb55{
  margin-bottom: 55px;
}

.mb75{
  margin-bottom: 75px;
}

.mb90{
  margin-bottom: 90px;
}

/* Padding */

.p60{
  padding: 60px;
}

/* Padding X */

.px20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px50 {
  padding-left: 50px;
  padding-right: 50px;
}

/* Padding Y */

.py10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.py60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py80{
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Padding Top */

.pt80{
  padding-top: 80px;
}

/* Padding Bottom */

.pb120{
  padding-bottom: 120px;
}

/* Padding Left */

.pl20 {
  padding-left: 20px;
}