%svg-common {
	background: url("resources/images/spriteBg.svg") no-repeat;
}

@mixin arrow {
	@extend %svg-common;
	background-position: 99.93886221546752% 0;
	width: 31.49px;
	height: 31.49px;
}

@mixin checked {
	@extend %svg-common;
	background-position: 96.12392026578074% 11.662962962962963%;
	width: 20px;
	height: 20px;
}

@mixin logo {
	@extend %svg-common;
	background-position: 0 0;
	width: 289.333px;
	height: 289.333px;
}

@mixin phone {
	@extend %svg-common;
	background-position: 94.24527687296418% 18.72363636363636%;
	width: 14px;
	height: 15px;
}

